:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --blue: #0F5D5D;

}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  font-size: 62.5%; 
  background-color: #F2F1E8;
}
body {
  background-color: #F2F1E8;
  font-size: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
}


h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: #0F5D5D
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color:#09AEB0;
  color: white;
  transition: background-color .5s ease;
}
.btn-primario:hover {
  background: #0F5D5D;
}
.btn-secundario {
  background-color: #C83737;
  transition: background-color .5s ease;
}
.btn-secundario:hover {
  background-color: #972020;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: #2A5862;
}
.btn-blank {
  margin: 0;
  padding: 0;
  height: 30px;
  display: block;
  background-color: transparent;
  color: white;
}

.delete-div{
  display: flex; 
  justify-content: flex-end;
  
}
.btn-delete {
  width: 150px;
  background-color: #C83737;
}
.btn-delete icon {
  font-size: 50px;
}

.log-out {
  font-size: 1.9rem;
  transition: .5s ease-in-out;
}
.log-out:hover {
  color: #C83737;
}


.seccion-principal main{
background-color: #F2F1E8;
}


/* BARRA LATERAL */
.side-bar  {
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 1rem 3rem 3rem 3rem;
  background-color: #151E29;
  height: 88.9vh;
  width: 300px;
  float: left;
}
.side-bar::-webkit-scrollbar {
  width: 5px;
}
.side-bar::-webkit-scrollbar-thumb {
  background: #09AEB0;
  border-radius: 5px;
}

@media (max-width:768px) {
  .side-bar  {
    min-width: 100%;
    height: 500px;
  }
}
video{
  width: 100%;
  height: 130px;
}

.formulario-nuevo-proyecto {
  margin-top: 6rem;
  margin-bottom: -6rem;
}
.formulario-nuevo-proyecto .input-text {
  
  border-radius: 5;
  background-color: white;
}
.formulario-nuevo-proyecto .input-text::placeholder{
  color: #0f5d5d75;
}
.proyectos {
  
  margin-top: 10rem;
}

.listado-proyectos li {
  
  margin-bottom: 2rem;
  font-size: 2rem;
}
.listado-proyectos li a {
  font-size: 1.6rem;
  color: var(--gris2);
  line-height: 1.5;
  font-weight: 300;
}
.app-header {
  display: flex;
  justify-content: space-between;
  background-color: #151E29;
  padding: 3.7rem;
}
.nombre-usuario {
  color: white;
  font-size: 2.2rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}
.nav-principal {
  display: flex;
  text-decoration: none;
}



.nav-principal a {
  color: white;
  font-size: 2rem;
  margin-right: 3rem;
  transition: .3s ease-in-out;
}
.nav-principal a:hover {
  color: #09AEB0;
}
@media (max-width:768px) {
  .nav-principal {
    flex-flow: column nowrap;
    background-color: #151E29;
    margin: 1rem;
  }
  .nav-principal a {
    margin: 1rem;
    margin-right: -2rem;
  }
}


/** Formulario crear y editar tareas **/
.formulario {
  display: flow-root;
  height: 180;
  background-color:#6C87A1;
  padding: 2rem;
}
.formulario form {
  max-width: 50%;
  margin: 0 auto;
}

.contenedor-input label {
  margin-bottom: 1rem;
  color: var(--blanco);
}
.input-text {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  width: 100%;
}

/** TAREAS LISTADO **/
.contenedor-tareas {
  display: flow-root;
  padding: 4rem;
}

.listado-tareas {
  display: flow-root;
  padding: 30px;
  height: 270px;
  max-width: 800px;
  overflow-y: scroll;
  margin: 0 auto;
}

.listado-tareas::-webkit-scrollbar {
  width: 5px;
}
.listado-tareas::-webkit-scrollbar-thumb {
  background-color: #09AEB0;
  border-radius: 10px;
}

.tarea {
  display: flex;
  justify-content: space-between;
  background-color: var(--blanco);
  padding: .5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: .5rem;

}
.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  box-shadow: 7px 6px 10px 0px rgba(117,117,117,1);
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}

.tarea p {
  font-size: 1.8rem;
  flex: 1;
  padding-right: 2rem;
}
.tarea .btn {
  padding: .5rem;
  font-size:1.4rem;
  border-radius: 5px;
  margin: 7px;
  height: 28px;
  margin-left: 10px;
}

.estado button, 
.mensaje {
  font-weight: 500;
  font-size: 1.1rem;
  padding: .5rem;
  width: 100%;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}
.mensaje {
  text-align: center;
  font-size: 1.6rem;
  margin-right: 20rem;
}
.mensaje:hover {
  cursor: default;
}
.completo,
.correcto {
  background-color: #95eeb0;
  color: black;
}
.incompleto{
  background-color: #fc7474;
  color: black;
}
.error {
  max-width: 600px;
  margin: 8rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}



.tarea-enter,
.proyecto-enter {
  opacity: 0;
}
.tarea-enter-active,
.proyecto-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.tarea-exit,
.proyecto-exit {
  opacity: 1;
}
.tarea-exit-active,
.proyecto-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.form-usuario {
    background-color: #0F5D5D;
    min-height: 77.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--blanco);
    border-radius: 1rem;
}

.campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: .7;
}

.alerta {
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: #C83737;
  color: white;
}

.login-page {
  height: 100vh;
}

.header-login{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151E29;
  padding: 1rem 5rem 1rem 5rem;
}
.footer-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #151E29;
}
.rights {
  color: white;
}